#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 65px 0;
}

.about-me-h1 {
    font-family: "VCR OSD MONO",monospace;
    font-size: 3rem;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 3rem;
    padding: 0;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    min-height: 60vh;
    max-height: 890px;
    /* max-height: fit-content; */
    max-width: 1200px;
}

.card {
    background: var(--bg);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px;
    /* border-radius: 10px; */
    border: 2px solid var(--disabled);
    min-height: 150px;
    gap: 15px;
}

.upper {
    position: relative;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.lower {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 0.9rem;
}

.skeleton-2,
.skeleton-3,
.skeleton-4,
.skeleton-5 {
    align-items: center;
}

.dot-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#2c2c2c 1px, transparent 1px);
    z-index: -1;
    background-size: 16px 16px;
}

.b-tech-txt {
    color: #f3f3f3;
    width: fit-content;
    margin: 0;
    padding-left: 5px;
    font-family: "VCR OSD Mono",monospace;
}

.it-txt {
    font-size: 2.5rem;
    color: var(--primary);
    font-family: "VCR OSD Mono",monospace;
    text-transform: uppercase;
    width: fit-content;
    padding-right: 5px;
    margin: 0;
}

.intern-txt {
    font-family: "VCR OSD Mono",monospace;
    font-size: 2.6rem;
    text-transform: uppercase;
    width: fit-content;
    padding: 6px 20px;
    color: black;
    background: var(--primary);

}
.skeleton-3 {
    flex-direction: row;
    min-height: 114px;
    overflow: hidden;
    mask-image: radial-gradient(var(--bg),var(--bg) 70%, transparent 100%,transparent);
}
.s3cont {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translateX(-50%) translateY(-50%) rotate(-40deg);
    align-items: center;
    gap: 10px;
}
.gap {
    height: 100%;
}
.s3row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.s3tech {
    padding: 10px 12px;
    margin: 0;
    text-align: center;
    min-width: 50px;
    border: #4b4b4b 2px solid;
    font-size: 0.6rem;
    background-color: var(--bg);
}

.bento-icon {
    font-size: x-small;
    margin-bottom: 5px;
}
.college-name-text {
    font-family: "Baskervville";
    color: var(--text);
    margin: 4px 0 0 10px;
    font-style: italic;
}
.bento-title {
    font-size: 1rem;
    font-family: "Ioskeley Mono",monospace;
    margin: 0 0 6px;
}

.bento-desc {
    font-size: 0.9rem;
    font-weight: normal;
    color: #b4b4b4;
}

.accounts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.account {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: normal;
    font-family: "Ioskeley Mono",monospace;
    background: var(--bg);
    border: var(--disabled) 2px solid;
    transition: 0.1s all linear;
}

.account:hover {
    border-color: var(--primary);
}

.copy-field {
    display: flex;
    flex-direction: row;

}

#email {
    /* font-size: 1.2rem; */
    border: 2px solid var(--disabled);
    padding: 10px;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ioskeley Mono",monospace;
    /* text-transform: uppercase; */
    margin: 0;
}

#copy-email {
    border: 4px solid var(--disabled);
    background: var(--disabled);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wide {
    grid-column: span 2;
}

@media (width<=1170px) {
    .bento-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        max-height: fit-content;
    }

    .wide {
        grid-column: span 1;
    }
    .card {
        width: 70vw;
        max-width: 450px;
    }
}

@keyframes bounce {
    33% {
        transform: rotate(-15deg);
    }
    66% {
        transform: rotate(15deg);
    }
}
