
.about{
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    min-height: fit-content;
    padding: 28px 0px;
}
.about-me-h1{
    font-family: "Arial";
    font-size: 2.5rem;
    width: 80%;
    margin-bottom: 3rem;
    padding: 0;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    min-height: 90%;
    max-height: fit-content;
    max-width: 900px;
}

.card {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px;
    border-radius: 10px;
    border:1px solid #2c2c2c;
    min-height: 150px;
    max-height:unset;
    gap: 15px;
}
.upper{
    position: relative;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
.skeleton-2, .skeleton-3, .skeleton-4, .skeleton-5{
    align-items: center;
}
.dot-bg{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#2c2c2c 1px, transparent 1px);
    z-index: -1;
    background-size: 16px 16px;
}
.b-tech-txt{
    color: #f3f3f3;
    width: fit-content;
}
.it-txt{
    font-size:2.5rem;
    color: transparent;
    background: linear-gradient(137deg,#f3f3f3 , #808080) ;
    background-clip: text;
    font-family: "Arial";
    width: fit-content;
    padding-right: 5px;
}
.intern-txt{
    font-family: "Arial";
    font-size:2.5rem;
    width: fit-content;
    padding: 6px 12px;
    color: black;
    border-radius: 6px;
    background: linear-gradient(137deg,#23d3ac , #23b3ca);

}
.mern-svgs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.react-logo{
    transition: all 0.25s ease-in-out;
}
.skeleton-3:hover .react-logo{
    rotate: 90deg;
}
.bento-icon{
    font-size: x-small;
    margin-bottom: 5px;
}
.bento-title{
    font-size: medium;
    margin-bottom: 6px;
}
.bento-desc {
    font-size: small;
    font-weight: normal;
    color: #b4b4b4;
}
.accounts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width:fit-content;
    align-items: center;
    justify-content: center;
}
.account {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 14px;
    font-size: 0.8rem;
    font-weight:normal;
    font-family: "Work Sans";
    background: #000;
    border: #4b5563 1px solid;
    transition: 0.1s all linear;
}
.account:hover{
    border-color: #236bca;
}
.copy-field{
    display: flex;
    flex-direction: row;

}
#email{
    font-size: 0.8rem;
    border: 1px solid #2c2c2c;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans";
    font-weight: 400;
}
#copy-email{
    border: 1px solid #404653;
    background: #404653;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wide {
    grid-column: span 2;
}


@media (width<=868px) {
	.bento-grid {
        grid-template-columns: 1fr;
    }

    .wide {
        grid-column: span 1;
    }
}

@media (width<=620px) {

}

@media (width<=425px) {

}

@media (width<=320px) {

}
