#certificates-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 65px 0;
}

.certificates-h1 {
    font-family: "VCR OSD MONO",monospace;
    font-size: 3rem;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 3rem;
    padding: 0;
}

.certificates-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1400px;
}

.certificate-link {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 14px;
    border: 2px solid var(--disabled);
    gap: 15px;
    width: 375px;
    height: 100%;
    margin: 12px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.certificate-thumb {
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.certificate-details {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.certificate-course-name{
    font-family: "Baskervville",monospace;
    font-size: 1.3rem;
    font-style: italic;
    color: var(--primary);
    margin: 4px 0 2px 0;
}

.certificate-issuer {
    padding: 0;
    font-size: 0.9rem;
    color: #aaa;
    margin: 4px 0 6px 0;
}
