
.home{
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid{
	position: absolute;
	z-index: -1;
	top:55px;
	inset: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #80808023 1px, transparent 1px),
	  linear-gradient(to bottom, #80808023 1px, transparent 1px);
	background-size: 32px 32px;
	mask-image: radial-gradient(
		ellipse 45% 45% at 50% 55%,
		#000 50%,
		transparent 100%
	);
	will-change: transform;
}

.home-cont{
	position: relative;
	z-index: 1;
}

.span{
	color: transparent;
}

.dev-text{
	font-family: "JetBrains Mono", monospace;
	color: #00a6ff;
}

.name-txt{
	font-size: 3rem;
	margin: 0;
	text-rendering: optimizeSpeed;
	min-height: 3rem;
}

.name-span{
	color: #00a6ff;
}

.linkedin-btn{
	background: var(--primary);
	color:black;
	font-family: "JetBrains Mono", monospace;
	font-weight: 600;
	font-size: 14px;
	padding: 7px 12px;
	border:2px solid transparent;
	border-radius: 11px;
	cursor:pointer;
}
.github-btn {
	background: transparent;
	color:var(--primary);
	font-family: "JetBrains Mono", monospace;
	font-weight: 600;
	font-size: 14px;
	padding: 7px 12px;
	border:2px solid var(--primary);
	border-radius: 11px;
	cursor:pointer;
}
.desc-txt{
	font-size:small;
	text-wrap-mode:wrap;
	text-align: center;
	font-family: "Work Sans";
}

.btn-group{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	gap: 30px;
	margin-top: 16px;
	align-items: center;
}

@media (width<=768px) {

}

@media (width<=620px) {
	
}
@media (width<=480px) {
	.name-txt {
		font-size: 2rem;
	}
	.desc-txt{
		font-size: 0.75rem;
	}
}
@media (width<=458px) {

	.home{
		padding-left: 20px;
		width:calc(100% - 25px);
	}
	.btn-group{
		flex-direction: column;
		gap:15px;
	}
	.linkedin-btn, .github-btn{
		width: 185px;
	}
}
@media (width<=425px) {
	.dev-text{
		font-size: 0.7rem;
	}
	.github-btn,.linkedin-btn{
		font-size: 0.7rem;
		width: 150px;
	}
	.grid{
		background-size: 18px 18px;
	}
	.name-txt{
		font-size: 1.5rem;
	}
	.desc-txt{
		font-size: x-small;
	}
}

@media (width<=320px) {
	.dev-text{
		font-size: 0.7rem;
	}
	.github-btn,.linkedin-btn{
		font-size: 0.7rem;
		width: 150px;
	}
	.grid{
		background-size: 18px 18px;
	}
	.name-txt{
		font-size: 1.2rem;
	}
	.desc-txt{
		font-size: x-small;
	}
}
