#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 65px 0;
}

.projects-h1 {
    font-family: "Perfect DOS VGA 437",serif;
    font-size: 3rem;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 3rem;
    padding: 0;
}