#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 65px 0;
}

.projects-h1 {
    font-family: "VCR OSD MONO",monospace;
    font-size: 3rem;
    text-transform: uppercase;
    width: 80%;
    margin-bottom: 3rem;
    padding: 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1400px;
}

.project-name{
    font-family: "Ioskeley Mono",monospace;
    letter-spacing: -1px;
    margin: 10px 0;
    color: var(--primary);
}

.project-desc {
    padding: 0 0 1rem 0;
    margin: 0;
}

.project {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 24px;
    border: 2px solid var(--disabled);
    min-height: 250px;
    gap: 15px;
    width: 100%;
    max-width: 390px;
    margin: 12px;
    background-size: 150%;
    background-position: center;
    position: relative;
}

.inner-cont{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, #0f0f0fd3 30%, #0f0f0f 70%);
    z-index: 0;
}
.tech-n-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
}
.techs {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.tech-it {
    padding: 6px;
    height: 26px;
    border: 1px dashed var(--disabled);
}

.project-link {
    font-style: italic;
    text-decoration:underline;
    text-decoration-thickness: 0.1px;
    color: var(--primary);
    padding-top: 12px;
    /* width: 100%; */
    /* text-align: end; */
    width: fit-content;
    align-self: flex-end;
}
.project-link button {
    color: var(--bg);
    border: var(--text) 2px solid;
    background: var(--text);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: "VCR OSD Mono",monospace;
    letter-spacing: 1px;
}
.project-link button:hover {
    border-color: var(--primary);
    background: var(--primary);
}
/* 
.project-link:visited {
    color: var(--primary);
}

.project-link:hover {
    color: var(--secondary);
} */