:root {
    --primary: #adff2f;
    --secondary: #628723;
    --foreground: #e2e2e2;
    --background: #070707;
    --fg: var(--foreground);
    --bg: var(--background);
    --text: var(--foreground);
    --disabled: #4b4b4b;
}

* {
    font-family: "Fira Code", monospace;
    /* font-family: "JetBrains Mono", monospace; */
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
    /* font-family: "JetBrains Mono", monospace; */
    font-family: "Fira Code", monospace;

}
p,a {
    font-size: 1.1rem;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--text);
}

a:visited {
    color: var(--text);
    text-decoration: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 64px;
    align-items: center;
    width: 100vw;
    justify-content: center;
    /* width: fit-content; */
    padding: 0 28px;
    background: var(--bg);
    position: fixed;
    border-bottom: var(--disabled) 1px dashed;
    gap: 32px;
    border-radius: 3px;
    top: 0px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out; 
    /* box-shadow: #0f0f0f 0 0 26px 20px; */
}

#navbar a:hover {
    color: var(--primary);
}

button {
    height: fit-content;
    padding: 8px 18px;
    background-color: var(--bg);
    color: var(--text);
    border: var(--text) 2px solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "VCR OSD Mono",monospace;
    letter-spacing: 1px;
}

button:hover {
    border-color: var(--primary);
    border-style: solid;
    color: var(--primary);
}

#hero-section {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#left-side {
    width: calc(50% - 5rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 5rem;
    flex-direction: column;
}

#thirukkural {
    position: absolute;
    margin: 0;
    font-family: "Noto Serif Tamil", serif;
    /*font-style: italic;*/
    font-size: 1.5rem;
}

#right-side {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: white;
    padding-right: 20px;
}

section {
    width: 100%;
    min-height: 100vh;
}

#hero-title {
    font-size: 5.6rem;
    margin-bottom: 32px;
    margin-top: 12px;
    font-family: "Perfect DOS VGA 437",monospace;
    line-height: 5.4rem;
}

#hero-title span {
    font-family: "Perfect DOS VGA 437",monospace;
    
}
#hero-title span::selection {
    color: var(--background);
    background-color: var(--primary);
}

#dev-text{
    padding: 5px 18px 6px;
    margin: 0;
    color: var(--bg);
    background-color: var(--primary);
    font-family: "VCR OSD Mono",monospace;
    font-size: 1.3rem;
}

#linkedin-button {
    background: var(--text);
    color: var(--bg);
}
#linkedin-button:hover {
    background-color: var(--primary);
}
@media (width<1245px) {

    #hero-img {
        display: none;
        position: static;
    }

    #thirukkural {
        top: 0;
        width: calc(100% - 40px);
        font-size: 1.4rem;
        padding: 45px 20px 0 20px;
        max-width: 450px;
    }

    #right-side {
        position: absolute;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #left-side {
        width: 100%;
        padding-left: 3rem;
    }

    #hero-title {
        max-width: 900px;
        
    }
}

@media (height<675px) {

    #hero-img {
        height: auto;
        max-height: 90vh;
        padding-top: 0;
    }

    #right-side {
        align-items: start;
    }

    #thirukkural {
        align-self: center;
    }

}

@media (width<1475px) {
    #hero-title{
        font-size: 4.6rem;
    }
}
@media (width<675px) {
    #hero-title {
        font-size: 3.9rem;
        line-height: 3.2rem;
    }
    #dev-text{
        font-size: 0.8rem;
        padding: 2px 3px;
    }
}
@media (width<468px) {
    #hero-title {
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    #hero-title span {
        font-size: 5.4rem;
        line-height: 5rem;
    }
}
@media (width<530px) {

    #thirukkural {
        font-size: 1rem;
    }

    #navbar {
        padding: 0 22px;
    }

}

@media (width<700px) {

    #left-side {
        padding-left: 1.5rem;
    }

}
